:root {
    --color-background-header: #aaaaaa;
    --color-text-header: #000000;
    --color-background: #ffffff;
    --color-background-accented: #f8f8f8;
    --color-background-accented-extra: #625EB1;
    --color-background-accented-ctrl: #dfdcf8;
    --color-background-accented-ctrl-bright: #ccc8ff;
    --color-background-accented-ctrl-text: #ebebfa;
    --color-text: #000000;
    --color-text-soft: #404040;
    --color-text-soft-extra: #808080;
    --color-text-link: #247BA0;
}

*,
:before,
:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

p,
ol,
ul {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

html {
    max-height: 100%;
    min-height: 100vh;
}

body {
    margin: 0;
    max-height: 100%;

    background: var(--color-background);
    color: var(--color-text);

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
    line-height: 1.4;
}

a,
a:link,
a:visited {
  color: var(--color-text-link);
  text-decoration: none;
}
a:hover,
a:focus {
  text-decoration: underline;
}

.site-header {    
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    background-image: linear-gradient(-225deg, #22E1FF 0%, #1D8FE1 48%, #625EB1 100%);
    color: var(--color-text-header);
    box-shadow: 0 5px 15px #cccccc;

    padding: .4rem 1.5rem;
    margin-bottom: 2rem;

    h1 {
        color: var(--color-text-header);
        font-weight: normal;
        font-size: 1rem;
        margin: 0;
    }

    .subtitle {
        font-size: 0.9rem;
    }

    a,
    a:link,
    a:visited {
        color: inherit;
    }
}

main {
    display: flex;
    flex-direction: column;
    flex: 1;

    max-width: 55rem;
    margin: 0 auto;
    padding-bottom: 2.875rem;
}

.content {
    padding: 0 1.5rem;

    img {
        max-width: 100%;
    }

    h1 {
        font-size: 2.25rem;
    }

    h2 {
        font-size: 1.4rem;
    }

    h3 {
        font-size: 1.124rem;
    }

    h4,
    h5,
    h6 {
        font-size: 1rem;
    }

    p,
    ul,
    ol {
        font-size: 1rem;
    }

    pre {
        background: var(--color-background-accented);
        width: 100%;
        padding: 0.626rem 1rem;
        outline: 1px solid var(--color-background-accented-extra);
        border-radius: 0.3125rem;
        font-family: monospace;
        box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.70);
    }
}

.code-snippet {
    width: 100%;
    font-family: monospace;
    border-collapse: collapse;
    border-spacing: 0;
    border: 0;
    outline: 1px solid var(--color-background-accented-extra);
    background: var(--color-background-accented);
    border-radius: 0.3125rem;
    margin-top: 0;
    box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.70);

    caption {
        caption-side: top;
        text-align: left;
        background: var(--color-background-accented-extra);
        border-radius: 0.3125rem 0.3125rem 0 0;
        padding: 0.4em 1.0em;
        margin-bottom: 0;

        a {
            font-weight: normal;
            color: var(--color-background);
        }
    }

    tr {
        height: 1.4em;
    }

    tr.src {
        td.line-no,
        td.op {
            text-align: right;
            color: var(--color-text-soft-extra);

            -webkit-user-select: none;
            user-select: none;
            padding: 0 0.5rem;
            width: auto;
        }

        td.code {
            white-space: pre;
        
            padding: 0 0.5em 0 0.625em;
            width: 100%;
            
            -moz-tab-size: 4;
            -o-tab-size: 4;
            tab-size: 4;
        }
    }

    tr.src:first-child td {
        padding-top: 0.5em;
    }
    
    tr.src:last-child td {
        padding-bottom: 0.3em;
    }
    
    tr.src td:first-child {
        padding-left: 0.4em
    }

    tr.delete {
        background: #faefef;

        .line-no {
            background: #fadede;
        }
    }

    tr.insert {
        background: #effaef;
        
        .line-no {
            background: #defade;
        }
    }

    tr.ctrl {
        background: var(--color-background-accented-ctrl-text);
        color: var(--color-text-soft-extra);
    
        .fold-ctrl {
            background: var(--color-background-accented-ctrl);
            text-align: center;
        }

        .fold-ctrl:hover {
            background: var(--color-background-accented-ctrl-bright);
        }
    
        .fold-button {
            appearance: none;
            -webkit-appearance: none;
            background: none;
            padding: 0.25em 0;
            border: none;
            background: none;
            cursor: pointer;
    
            svg {
                display: inline-block;
                width: 1.5em;
            }
        }
    }
}

.hl-b {
    font-weight: bold;
}

.hl-bl {
    font-weight: bold;
}

.hl-i {
    font-style: italic;
}

.hl-ii {
    font-style: italic;
    color: var(--color-text-soft);
}

.content-header {
    text-align: center;
    margin: 1rem 0 2.5rem 0;

    h1 {
        margin: 0 auto;
    }

    .date {
        display: block;
    }
}

.sub-content {
    margin: 1.875rem 0;
    padding: 0;

    p {
        margin: 0.5rem 0;
    }
}

.sub-content-header {
    display: flex;
    align-items: baseline;
    margin: 0.5rem 0 0.125rem 0;

    h3 {
        margin: 0 0.5rem 0 0;
    }
    
    span {
        color: var(--color-text-soft);
    }
}

.footnotes {
    hr {
       border: 0;
        border-top: 1px solid var(--color-background-accented);
    }

    p, 
    ul,
    ol {
        font-size: 0.85rem;
    }
}

