<!DOCTYPE html>
<html lang="en">

{{ template "fragments/html_head" .Head }}

<body>
    {{ template "fragments/header" }}

    <main>
      <header class="header page-header">
         <h1>{{ .Meta.Title }}</h1>
         <p>{{ .Meta.Summary }}</p>
      </header>

      <div class="content">
         {{ range .Articles }}
            <article class="sub-content">
               <header class="sub-content-header">
                  {{- $published := .Meta.Published.Format "January 2006" }}
                  {{- $updated := .Meta.Updated.Format "January 2006" }}
                  <h2><a href="{{ .Path }}">{{ .Meta.Title }}</a></h2>
                  <span><time datetime="{{ .Meta.Published.Format "2006-01-02" }}">{{ $published }}</time>
                  {{- if ne $published $updated }}, updated <time datetime="{{ .Meta.Updated.Format "2006-01-02" }}">{{ $updated }}</time>{{ end }}</span>
               </header>
               <p>{{ .Meta.Summary }}</p>
            </article>
         {{ end }}
      </div>
    </main>

    {{ template "fragments/footer" . }}
</body>

</html>
